@import "reset.scss";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

:root {
  --bg-color: black;
  --fg-color: white;

  --accent-color: #283c81;

  --bg-alt-color: #222222;
  --acc-alt-color: #141f41;

  --font: 'Lato', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--font);
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;

  div {
    align-items: center;
    display: flex;
    gap: 0.5rem;

    h1 {
      font-size: 1.25rem;
      font-weight: 900;
    }
  }

  .ham {
    width: 1.75rem;
    height: 1.75rem;
    filter: invert(100%);
    cursor: pointer;
  }

  .pfp {
    display: flex;
    transition-duration: 100ms;
  }

  .pfp > img {
    border-radius: 50%;
    cursor: pointer;
    height: 2.5rem;
    object-fit: cover;
    width: 2.5rem;
  }

  .pfp:hover, .pfp:focus {
    filter: brightness(50%);
  }
}

.login-page {
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  place-content: center;

  .login-box {
    border: 2px solid var(--bg-alt-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    padding: 1rem;

    h1 {
      font-weight: 900;
    }

    .entry {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      input {
        border: 2px solid var(--bg-alt-color);
        border-radius: 6px;
        padding: 0.5rem;
        transition-duration: 100ms;
      }

      input:focus {
        border-color: var(--accent-color);
      }

      a {
        font-size: 0.5em;
        font-weight: 900;
        transition-duration: 100ms;
      }

      a:focus {
        outline: 2px solid var(--accent-color);
        border-radius: 2px;
      }
    }

    .submit-button {
      background-color: var(--accent-color);
      border-radius: 4px;
      cursor: pointer;
      padding: 0.3rem;
      text-align: center;
      transition-duration: 100ms;
      transition-property: background-color;
    }

    .submit-button:focus {
      outline: solid var(--accent-color);
    }

    .submit-button:hover, .submit-button:focus {
      background-color: var(--acc-alt-color);
    }
  }
}

.home-page {
  min-height: 100vh;
  min-width: 100vw;

  .dashboard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .courses {
      display: grid;
      gap: 12px;
      grid-template-columns: auto auto;

      a * {
        position: relative;
        background-size: cover;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 7rem;
        justify-content: end;
        padding: 0.75rem;

        div {
          background: linear-gradient(to top, rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
          border-radius: inherit;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 1;
        }

        h3 {
          font-size: 1rem;
          font-weight: 900;
          left: 0;
          position: absolute;
          top: 0;
          z-index: 2;
        }
      }

      a {
        transition-duration: 250ms;
      }

      a:focus, a:hover {
        transform: scale(1.025);
      }
    }
  }
}

.course-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;

  .metadata {
    display: flex;
    gap: 1rem;
    height: 15rem;

    > * {
      flex: 50%;
      width: 100%;
      object-fit: cover;
      background-size: cover;
      border-radius: 12px;
    }
  }

  .lessons {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    overflow: scroll;

    > * {
      aspect-ratio: 2 / 1;
      background-color: #141414;
      border-radius: 1rem;
      height: 10rem;
      transition-duration: 250ms;
    }

    > *:hover {
        transform: scale(1.025);
    }
  }
}

.notfound-page {
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  place-content: center;
}

.loading-page {
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  place-content: center;
}
