:root {
  --bg-color: #000000;
  --fg-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: 'Fira Code', 'Nerd Font';
  margin: 0;
}

nav {
  align-items: center;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

nav > div {
  font-size: 2rem;
}

nav > img {
  border-radius: 50%;
  height: 2rem;
  object-fit: cover;
  width: 2rem;
}

/* DIRTY */
@font-face {
  font-family: 'Nerd Font';
  src: url(Symbols-2048-em\ Nerd\ Font\ Complete.ttf);
}
/* DIRTY */