@font-face {
  font-family: 'Lato';
  src: url(Lato-Regular.ttf);
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Lato';
  margin: 0;
}

header {
  align-items: center;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  width: 2rem;
}

.pfp {
  border-radius: 50%;
  height: 2rem;
  object-fit: cover;
  width: 2rem;
}

main {
  padding: 1rem;
}

h1 {
  margin: 0;
}